{{!< default}}

<div class="container">
    <div class="row">

        {{> sidebar}}
        <div id="main" class="column">
            {{>postlist}}
            {{pagination}}
        </div>


    </div>

</div>
