{{!< default}}

<div class="container">
    <div class="row">

        {{> sidebar_tags}}
        <div id="main" class="column">
            {{>postlist}}
            {{pagination}}
        </div>

    </div>
</div>
