<header>
    <div class="container">
        <div class="row row-horizontal">
            <div class="column logo">
                <a href="{{@site.url}}" class="logo">
                    <h2>mobux.de</h2>
                </a>
            </div>
            <div class="column hamburger">
                <i class="fas fa-bars mobile-nav-toggle"></i>
            </div>
            <nav class="primary-nav">
                      <ul class="list-inline social-links">
    <li><a href="https://github.com/ktklin" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-fw fa-github"></i></a> </li>
    <li><a href="https://twitter.com/mobuxer" class="btn-social btn-outline" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a> </li>
    <li><a href="https://www.linkedin.com/in/kurt-klinner-76b01075" class="btn-social btn-outline" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a> </li>
    <li><a href="mailto:webmaster@mobux.de" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope"></i></a> </li>
</ul>
            </nav>
        </div>
    </div>
    <div class="secondary-nav">
        <div class="container">
            {{navigation}}
        </div>
    </div>
    <div class="mobile-nav">
        <div class="container">
            <div class="row">
                <div class="column">
                    {{navigation}}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</header>
