<section id="side-bar" class="column">

    <div class="author">
        {{#if feature_image}}
	<img src="{{img_url feature_image}}">
  {{/if}}
    </div>
    {{#get "posts" limit="5" filter="tag:{{primary_tag.slug}}"  as |recents|}}
    <section class="recent-posts">
      <h3>Artikel</h3>
      <ul>
        {{#foreach recents}}
        <li>
          <a href="{{url}}">{{title}}</a>
        </li>
        {{/foreach}}
      </ul>
    </section>
    {{/get}}

</section>
