<section id="side-bar" class="column">

    <div class="author">
        <img src="{{asset "img/profile-image.jpg"}}" alt="Kurt klinner" />
        <p>Talk nerdy to me</p>
    </div>

    <section class="recent-posts">
      <h3>Aktuelle Artikel</h3>
      <ul>
      {{#foreach posts}}
        <li>
          <a href="{{url}}">{{title}}</a>
        </li>
      {{/foreach}}
      </ul>
    </section>

</section>
